*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
    font-family: "Rajdhani", sans-serif; 
}

header{
	height: 100px;
	background-color: #00004d;    
}

h1{
	text-align: center;
	color: white;
	line-height: 100px;
}

.content{
	overflow: auto;
}

.aside-left{
	width: 20%;
	float: left;
	padding: 3px;
}

aside ul{
	list-style: none;
}

aside li{
	background-color: #00004d;
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
}

aside li a{
	text-decoration: none;
	line-height: 60px;
	color: rgb(247,249,238);
}

 main{
	width: 60%;
	float: left;
	margin-top: 10px;
	padding: 20px;  
}

.aside-right {
  background-color: #00004d;
  margin-top: 20px;
  min-height: auto;
  float: left;
  width: 20%;
  color: rgb(247,249,238);
  padding: 10px;
  padding-left: px;
}

footer{
	background-color: #00004d;
	height: 60px;
	margin-top: 5px;
	color: rgb(247,249,238);
	text-align: center;
	line-height: 60px;
	padding: 5px;
}


@media only screen and (max-width:620px) {
	.aside-left,main,.aside-right {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
  	.aside-left,main,.aside-right {
		width: 100%;
	}
}